.clients__list {
  display: flex;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--brand-color);
  }
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .client__link:hover &,
  .client__link:focus & {
    fill: var(--brand-color);
  }
}

@media screen and (max-width: 768px) {
  .clients__list {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .client__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }

  .client__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .client__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }

  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0;
  }

  .client__item {
    margin-top: 0;
    margin-left: 0;
    flex-basis: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .client__link {
    width: 170px;
  }
}
