:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --accent-color: #212121;
    --brand-color: #2196f3;
    --text-color: #757575;
    --hover-color: #188ce8;
}